<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="labs.sdm.quotationshake">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Dashboard activity-->
        <activity android:name="labs.sdm.quotationshake.activities.DashboardActivity">
            <!--This is the entry point to the application-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Credits activity-->
        <activity
            android:name="labs.sdm.quotationshake.activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="labs.sdm.quotationshake.activities.DashboardActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="labs.sdm.quotationshake.activities.DashboardActivity"></meta-data>
        </activity>


        <!--Activity to get new quotations-->
        <activity
            android:name="labs.sdm.quotationshake.activities.QuotationActivity"
            android:label="@string/title_activity_quotations"
            android:parentActivityName="labs.sdm.quotationshake.activities.DashboardActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value="labs.sdm.quotationshake.activities.DashboardActivity"></meta-data>
        </activity>


    <!--Activity to configure the applications-->
        <activity
            android:name="labs.sdm.quotationshake.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="labs.sdm.quotationshake.activities.DashboardActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="labs.sdm.quotationshake.activities.DashboardActivity"></meta-data>
        </activity>

        <!--Activity to display and manage the favourite quotations-->
        <activity
            android:name="labs.sdm.quotationshake.activities.FavouriteActivity"
            android:label="@string/title_activity_favourite"
            android:parentActivityName="labs.sdm.quotationshake.activities.DashboardActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="labs.sdm.quotationshake.activities.DashboardActivity"></meta-data>
        </activity>

    </application>

</manifest>
